PORT=5000
NODE_ENV=production

# Hostinger Remote MySQL Database Credentials
DB_HOST=srv1827.hstgr.io
DB_PORT=3306
DB_NAME=u909011072_codtech_db
DB_USER=u909011072_codtech_user
DB_PASS=Cod@1208

# Security Keys
JWT_SECRET=codtech_enterprise_jwt_secret_key_2026_safe_32bytes
ENCRYPTION_KEY=codtech_enterprise_aes256_key_32_bytes_long!

# SMTP Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=harishneela83@gmail.com
SMTP_PASSWORD=jiuxgqhwactiqolr
SMTP_FROM="CODTECH TEAM <harishneela83@gmail.com>"
